<launch>
  <!-- Arguments -->
  <arg name="scan_topic" default="$(find my_robot)/laser/scan" />
  <arg name="map_file" default="home/workspace/catkin_ws/src/maps/map.yaml" />
  
  <!-- Map Server -->
  <node name="map_server" type="map_server" pkg="map_server" args="$(arg map_file)" />
  
  <!-- Particle Filter -->
  <node name="amcl" type="amcl" pkg="amcl" output="screen">
    <remap from="scan" to="$(arg scan_topic)" />
    <param name="odom_frame_id" value="odom" />
    <param name="odom_model_type" value="diff_corrected" />
    <param name="base_frame_id" value="robot_footprint" />
    <param name="global_frame_id" value="map" />
  </node>
  <node name="move_base" type="move_base" pkg="move_base" respawn="false" output="screen">
    <remap from="scan" to="$(arg scan_topic)" />
    <param name="base_global_planner" value="navfn/NavfnROS" />
    <param name="base_local_planner" value="base_local_planner/TrajectoryPlannerRos" />
  </node>
</launch>
